<script setup lang="ts">
import {
  mdiCardsHeart,
  mdiSchool,
  mdiController,
  mdiInstagram,
  mdiFacebook,
} from "@mdi/js";

import { ref } from "vue";
const theme = ref("dark");
</script>

<template>
  <v-app :theme="theme">
    <v-parallax
      src="https://media.discordapp.net/attachments/866545462738550824/1053713074529505370/IMG_1633.jpg?width=935&height=701"
    >
      <v-card class="mx-auto" height="870" max-width="1000">
        <v-container>
          <v-row>
            <v-col>
              <v-card-title>My Profile </v-card-title>
            </v-col>
            <v-col cols="1">
              <v-btn
                class="align-content"
                href="https://www.instagram.com/saiirung__/"
                target="_blank"
                ><v-icon :icon="mdiInstagram"
              /></v-btn>
            </v-col>
            <v-col cols="1">
              <v-btn
                class="align-content"
                href="https://www.facebook.com/rungg.warinrata"
                target="_blank"
                ><v-icon :icon="mdiFacebook"
              /></v-btn>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="3">
              <v-img
                src="https://scontent.fbkk30-1.fna.fbcdn.net/v/t39.30808-6/308683619_2816350808498894_2843152398010122806_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=tu1wYOPKyegAX-PGU8M&_nc_ht=scontent.fbkk30-1.fna&oh=00_AfDTChtNyAMhM-dxFRgkiWM2QvPeZvzeu_nDR7XOoCf_GQ&oe=63A2C525"
                max-height="170px"
                max-width="200px"
              >
              </v-img>
            </v-col>
            <v-col cols="9">
              <v-card class="mx-auto" height="170" color="#00838F">
                <v-container>
                  <v-row>
                    <v-col cols="5">
                      <v-card-text>Name: Warinrata Ritdech </v-card-text>
                      <v-card-text>Date of Birth: 2001/09/27 </v-card-text>
                      <v-card-text>Gender: Female </v-card-text>
                    </v-col>
                    <v-col cols="5">
                      <v-card-text>Nickname: Sairung </v-card-text>
                      <v-card-text>Age: 21 </v-card-text>
                      <v-card-text>Email: 63160219@go.buu.ac.th </v-card-text>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-card color="#00838F"
                ><div style="text-align: center">
                  Educational <v-icon :icon="mdiSchool" />
                </div>
              </v-card>
            </v-col>
            <v-timeline direction="horizontal" line-inset="12">
              <v-timeline-item dot-color="#00ACC1" :icon="mdiCardsHeart">
                <template v-slot:opposite> Watdonmuang School </template>
                Grade 1-6
              </v-timeline-item>

              <v-timeline-item dot-color="#0097A7" :icon="mdiCardsHeart">
                <template v-slot:opposite> Grade 1-3 </template>
                Donmuang Taharnargardbumrung School
              </v-timeline-item>

              <v-timeline-item dot-color="#00838F" :icon="mdiCardsHeart">
                <template v-slot:opposite> Horwang Nonthaburi School </template>
                Grade 4-6
              </v-timeline-item>
            </v-timeline>
          </v-row>
          <v-row>
            <v-col>
              <v-carousel
                cycle
                height="150"
                hide-delimiter-background
                show-arrows="hover"
              >
                <v-carousel-item>
                  <v-img
                    src="https://media.discordapp.net/attachments/866545462738550824/1053939520535547975/IMG_9217.jpg?width=1440&height=380"
                    cover
                  ></v-img>
                </v-carousel-item>
                <v-carousel-item>
                  <v-img
                    src="https://media.discordapp.net/attachments/866545462738550824/1053940463415074888/IMG_4244.jpg?width=1440&height=283"
                    cover
                  ></v-img>
                </v-carousel-item>
                <v-carousel-item>
                  <v-img
                    src="https://media.discordapp.net/attachments/866545462738550824/1054047581568761916/IMG_9381.jpg?width=1440&height=347"
                    cover
                  ></v-img>
                </v-carousel-item>
              </v-carousel>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-card color="#00838F"
                ><div style="text-align: center">
                  Hobby <v-icon :icon="mdiController" />
                </div>
              </v-card>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="4">
              <v-card
                class="mx-auto"
                color="#00838F"
                elevation="20"
                max-width="400"
              >
                <div class="d-flex justify-between">
                  <v-card-title class="flex-grow-1 flex-column align-start">
                    <div class="text-h7">จีบอยู่เผื่อไม่รู้</div>
                    <div class="text-h8 font-weight-thin">WWJ</div>

                    <div class="text-h8 font-weight-thin">(2021)</div>
                  </v-card-title>

                  <v-img
                    contain
                    height="125px"
                    src="https://media.discordapp.net/attachments/866545462738550824/1053949997814661150/IMG_0241.jpg?width=701&height=701"
                    style="flex-basis: 125px"
                    class="flex-grow-0"
                  ></v-img>
                </div>

                <v-divider></v-divider>
              </v-card>
              <div style="text-align: center">Listen To Music</div>
            </v-col>
            <v-col cols="4">
              <v-card
                class="mx-auto"
                color="#00838F"
                elevation="20"
                max-width="400"
              >
                <div class="d-flex justify-between">
                  <v-card-title class="flex-grow-1 flex-column align-start">
                    <div class="text-h7">เวนส์เดย์</div>
                    <div class="text-h8 font-weight-thin">Wednesday</div>

                    <div class="text-h8 font-weight-thin">Netflix</div>
                  </v-card-title>

                  <v-img
                    contain
                    height="125px"
                    src="https://hips.hearstapps.com/hmg-prod/images/wednesday-s1-e4-00-34-26-18r-1670000381.jpg?crop=0.752xw:1.00xh;0.104xw,0&resize=1200:*"
                    style="flex-basis: 189px"
                    class="flex-grow-0"
                  ></v-img>
                </div>

                <v-divider></v-divider>
              </v-card>
              <div style="text-align: center">Watch Netflix</div>
            </v-col>
            <v-col cols="4">
              <v-card
                class="mx-auto"
                color="#00838F"
                elevation="20"
                max-width="400"
              >
                <div class="d-flex justify-between">
                  <v-card-title class="flex-grow-1 flex-column align-start">
                    <div class="text-h7">Valorant</div>
                    <div class="text-h8 font-weight-thin">Riot Games</div>

                    <div class="text-h8 font-weight-thin">(2020)</div>
                  </v-card-title>

                  <v-img
                    contain
                    height="125px"
                    src="https://cdn.discordapp.com/attachments/866545462738550824/1053985857608093736/image.png"
                    style="flex-basis: 165px"
                    class="flex-grow-0"
                  ></v-img>
                </div>

                <v-divider></v-divider>
              </v-card>
              <div style="text-align: center">Playing Games</div>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-parallax>

    <v-footer dark padless class="justify-center">
      <v-card class="flex" flat tile>
        <v-card-title class="teal">
          <strong class="subheading"
            >Get connected with us on social networks!</strong
          >

          <v-spacer></v-spacer>
        </v-card-title>

        <v-card-text class="py-2 white--text text-center">
          {{ new Date().getFullYear() }} — <strong>Vuetify</strong>
        </v-card-text>
      </v-card>
    </v-footer>
  </v-app>
</template>
